{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <br><br><br>
    <h2 style="text-align:center">ASSIGNMENT</h2>
    <br><br><br><br>
    <div class="container">
     <div class="row">
        <div class="col-sm">
            <img id = "image" src="{% static 'assignment/images/img.jpg' %}" style="display:none;" width="400" height="400">
        </div>
        <div class="col-sm">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button style="align-items: center;" type="button"  class="btn btn-outline-primary"  onclick="showdog()" id="b1" >CAT</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
            <button style="align-items: center;" type="button" class="btn btn-outline-success"  onclick="showcat()" id="b2">DOG</button> 
        </div>
        <div class="col-sm">
            <img id = "image2" src="{% static 'assignment/images/img2.jpg' %}" style="display:none;" width="400" height="400">
        </div>
     </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script>
        function showdog() {
            document.getElementById('image')
                    .style.display = "block";

            document.getElementById('b1')
                    .style.display = "none";
        }
        function showcat() {
            document.getElementById('image2')
                    .style.display = "block";
                    
            document.getElementById('b2')
                    .style.display = "none";
        }
    </script>
</body>
</html>